@model TwoFish.WebUI.Models.Fish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HabitatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HabitatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishOfTheDay.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishOfTheDay.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FishID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
